<div class="synaptic-newsletter">
  <form action="https://ba976988.sibforms.com/serve/MUIFALS-Pj9niCnQzIC4Kz6AUNdZDEzk6wpWynTJG4d4dXNvGQtJiWM9njds4R5HIX_H5WnDQEPdzJFFynemiOv1t4W_9_ksGnqajmgFditGqg_YbFJgkLKO9HyuxT58mr0lnmuHRE3GDAnh4YEVdxd6Occr7A-hSgMDnS8xxf6OklDU966E4xJ6lfmE6eO0CymEsN25WAsywHtYGQ==" 
        method="POST" 
        target="_blank" 
        class="synaptic-newsletter__form">
    
    <label for="EMAIL" class="synaptic-newsletter__label">Subscribe to Connect Your Dots Of Life</label>
    <p class="synaptic-newsletter__sub-label">Enter your email address to subscribe.</p>
    
    <div class="synaptic-newsletter__input-group">
      <input type="email" id="EMAIL" name="EMAIL" class="synaptic-newsletter__input" placeholder="e.g. abc@xyz.com" required>
      <button type="submit" class="synaptic-newsletter__button">SUBSCRIBE</button>
    </div>

    <div class="synaptic-newsletter__optin">
      <input type="checkbox" id="OPT_IN" name="OPT_IN" value="1" required class="synaptic-newsletter__checkbox">
      <label for="OPT_IN" class="synaptic-newsletter__optin-text">
        I agree to receive newsletters and accept the data privacy statement.
      </label>
    </div>

    <p class="synaptic-newsletter__disclaimer">
      We use Brevo as our marketing platform. By submitting this form you agree that the personal data you provided will be transferred to Brevo for processing in accordance with their Privacy Policy.
    </p>
  </form>
</div>