<div class="masthead">
  <div class="masthead__inner-wrap">

    <nav id="site-nav" class="greedy-nav">

      <a class="site-logo" href="{{ '/' | relative_url }}">
        <img src="{{ site.logo | relative_url }}" alt="">
      </a>

      <a class="site-title" href="{{ '/' | relative_url }}">
        {{ site.masthead_title }}
      </a>

      <ul class="visible-links">

        {% for item in site.data.navigation.main %}

          <li class="masthead__menu-item">

            <a href="{{ item.url | relative_url }}">
              {{ item.title }}
            </a>

          </li>

        {% endfor %}

      </ul>

      <button class="greedy-nav__toggle hidden" type="button">
        <span class="visually-hidden">
          Toggle menu
        </span>

        <div class="navicon"></div>
      </button>

      <ul class="hidden-links hidden"></ul>

    </nav>

  </div>
</div>