/* =========================================================
   GLOBAL FOUNDATION
========================================================= */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}
