---
layout: default
---

{% assign lbfl_content_owns_h1 = false %}
{% if content contains '<h1' %}
  {% assign lbfl_content_owns_h1 = true %}
{% endif %}

<div id="main" role="main">
  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="page__inner-wrap">
      {% unless lbfl_content_owns_h1 %}
        {% if page.title %}
          <header><h1 id="page-title" class="page__title" itemprop="headline">{{ page.title }}</h1></header>
        {% endif %}
      {% endunless %}
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>
    </div>
  </article>
</div>
