<!doctype html>
{% assign html_lang = page.lang | default: site.active_lang | default: site.lang | default: 'en' %}
<html lang="{{ html_lang | slice: 0, 2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include skip-links.html %}
    {% include masthead.html %}

    <main class="initial-content" id="main-content">
      {{ content }}
    </main>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="site-footer-shell">
      {% include footer/custom.html %}
      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
