@charset "utf-8";
.page-layout {
  width: 100%;
  text-align: left;
  line-height: 1.7;
  font-size: 1.02rem;
  gap: 3rem;
  margin-left: 0;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 280px;
  }
}